<nav class="navbar">

  <div class="navbar__collapse" id="navbarSupportedContent">
    <ul class="navbar__collapse-list">
      <li class="navbar__collapse-item">
        <a class="navbar__link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="navbar__collapse-item">
        <a class="navbar__link" href="#">Link</a>
      </li>
      <li class="navbar__collapse-item">
        <a class="navbar__link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="nav-bar__form">
      <input class="nav-bar__form-input" type="text" placeholder="Search" aria-label="Search">
      <button class="nav-bar__form-submit btn" type="submit">Search</button>
    </form>
  </div>

  <button class="navbar__toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar__toggler-icon"></span>
  </button>
</nav>
