{#
 # Template for a single content header.
 #
 # @version 1.0.0
 #
 # @var post	The Timber Post object.
 #}

<header class="single-header single-header--{{ post.type }}">
  <h1 class="single-title single-title--{{ post.type }}">{{ post.title }}</h1>
</header>
