{#
 # View template for a when a plugin needs a special page.
 #}
{% extends 'base/base.twig' %}

{% block site_content %}
  <div class="container content-wrapper">
    {{ content }}
  </div>
{% endblock %}
