{#
 # Template for a single content header.
 #
 # @version 1.0.0
 #
 # @var post	The Timber Post object.
 #}

<header class="single-header single-header-{{post.post_type}}">
  <h1 class="single-title single-title-{{ post.post_type }}">{{ post.title }}</h1>
</header>
