{#
 # Template for the site header.
 #}

<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light {{ fn('is_admin_bar_showing') ? 'admin-bar-showing' : '' }}">
    <div class="container">
      <a class="navbar-brand" href="{{ polylang.home }}">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-header-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ _x('Toggle navigation', 'Accessibility label for toggling menu', textdomain) }}">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="site-header-nav">
        {% include 'nav/nav.twig' with {nav_items: menu.desktop.get_items, classes: 'navbar-nav'} %}
      </div>
    </div>
  </nav>
</header>
