{#
 # Template for a single post meta.
 #
 # @version 1.0.0
 #
 # @var post	The Timber Post object.
 #}

<section class="meta meta-{{ post.post_type }}">
  <p>{{ __('By %1$s &bull; %2$s', 'Meta byline for a post', textdomain)|format(post.author.name, post.date) }}</p>
</section>
