{#
 #
 # Template for navigation.
 #
 # Available variables:
 # - navigation: Array of menu items from WordPress.
 #}
{% if navigation %}
	<ul>
	{% for item in navigation %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "navigation/navigation.twig" with {'navigation': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
