.btn,
button {
  display: inline-block;

  // &:hover {

  // }

  // &:focus {

  // }

  // &--primary,
  // &-primary {
  //   &:hover {

  //   }

  //   &:focus {

  //   }
  // }

  // &--secondary,
  // &-secondary {
  //   &:hover {

  //   }

  //   &:focus {

  //   }

  // }
}
