// *********
// Variables
// *********

// Colors
$color-body:       #000;
$color-link:       #007bff;
$color-link-hover: #000;

/* #################################### */

// Fonts
$font-body:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-heading:        "Helvetica Neue", Helvetica, Arial, sans-serif;

// Typography breakpoints
// NOTE: These are crucial for fluid-type mixin.
$breakpoint-min: 20rem;
$breakpoint-max: 75rem;

/* #################################### */

// Body styles mobile
$body-font-size-mobile:        16px;
$body-line-height-mobile:      1.5;
$body-letter-spacing-mobile:   normal;
$body-font-weight-mobile:      normal;

// H1 styles mobile
$h1-font-size-mobile:          2.5rem;
$h1-line-height-mobile:        1.5;
$h1-letter-spacing-mobile:     0;
$h1-font-weight-mobile:        bold;

// H2 styles mobile
$h2-font-size-mobile:          2rem;
$h2-line-height-mobile:        1.5;
$h2-letter-spacing-mobile:     0;
$h2-font-weight-mobile:        bold;

// H3 styles mobile
$h3-font-size-mobile:          1.75rem;
$h3-line-height-mobile:        1.5;
$h3-letter-spacing-mobile:     0;
$h3-font-weight-mobile:        bold;

// H4 styles mobile
$h4-font-size-mobile:          1.5rem;
$h4-line-height-mobile:        1.5;
$h4-letter-spacing-mobile:     0;
$h4-font-weight-mobile:        bold;

// H5 styles mobile
$h5-font-size-mobile:          1.25rem;
$h5-line-height-mobile:        1.5;
$h5-letter-spacing-mobile:     0;
$h5-font-weight-mobile:        bold;

// H6 styles mobile
$h6-font-size-mobile:          1rem;
$h6-line-height-mobile:        1;
$h6-letter-spacing-mobile:     0;
$h6-font-weight-mobile:        bold;

// Lead text mobile
$lead-font-size-mobile:        1.1rem;
$lead-line-height-mobile:      1.5;
$lead-letter-spacing-mobile:   0;
$lead-font-weight-mobile:      normal;

/* #################################### */

// Body styles tablet
$body-font-size-tablet:        16px;
$body-line-height-tablet:      1.5;
$body-letter-spacing-tablet:   normal;
$body-font-weight-tablet:      normal;

// H1 styles tablet
$h1-font-size-tablet:          2.5rem;
$h1-line-height-tablet:        1.5;
$h1-letter-spacing-tablet:     0;
$h1-font-weight-tablet:        bold;

// H2 styles tablet
$h2-font-size-tablet:          2rem;
$h2-line-height-tablet:        1.5;
$h2-letter-spacing-tablet:     0;
$h2-font-weight-tablet:        bold;

// H3 styles tablet
$h3-font-size-tablet:          1.75rem;
$h3-line-height-tablet:        1.5;
$h3-letter-spacing-tablet:     0;
$h3-font-weight-tablet:        bold;

// H4 styles tablet
$h4-font-size-tablet:          1.5rem;
$h4-line-height-tablet:        1.5;
$h4-letter-spacing-tablet:     0;
$h4-font-weight-tablet:        bold;

// H5 styles tablet
$h5-font-size-tablet:          1.25rem;
$h5-line-height-tablet:        1.5;
$h5-letter-spacing-tablet:     0;
$h5-font-weight-tablet:        bold;

// H6 styles tablet
$h6-font-size-tablet:          1rem;
$h6-line-height-tablet:        1;
$h6-letter-spacing-tablet:     0;
$h6-font-weight-tablet:        bold;

/* #################################### */

// Body styles desktop
$body-font-size:        16px;
$body-line-height:      1.5;
$body-letter-spacing:   normal;
$body-font-weight:      normal;

// H1 styles desktop
$h1-font-size:          2.5rem;
$h1-line-height:        1.5;
$h1-letter-spacing:     0;
$h1-font-weight:        bold;

// H2 styles desktop
$h2-font-size:          2rem;
$h2-line-height:        1.5;
$h2-letter-spacing:     0;
$h2-font-weight:        bold;

// H3 styles desktop
$h3-font-size:          1.75rem;
$h3-line-height:        1.5;
$h3-letter-spacing:     0;
$h3-font-weight:        bold;

// H4 styles desktop
$h4-font-size:          1.5rem;
$h4-line-height:        1.5;
$h4-letter-spacing:     0;
$h4-font-weight:        bold;

// H5 styles desktop
$h5-font-size:          1.25rem;
$h5-line-height:        1.5;
$h5-letter-spacing:     0;
$h5-font-weight:        bold;

// H6 styles desktop
$h6-font-size:          1rem;
$h6-line-height:        1;
$h6-letter-spacing:     0;
$h6-font-weight:        bold;

/* #################################### */

// Lead text
$lead-font-size:        1.1rem;
$lead-line-height:      1.5;
$lead-letter-spacing:   0;
$lead-font-weight:      normal;

/* #################################### */

// Misc
$spacer:                1rem;
