{#
 # Partial template for a single content's meta.
 #
 # @since 1.0.0
 #}

<p class="meta">
  <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
</p>
