{# Purposely empty #}
<section class="singular-meta singular-meta-{{ post.post_type }}">
  <p>{{ __('Posted by <a href="%1$s">%2$s</a> on %3$s', 'pix-base-theme')|format(post.author.path, post.author.name, post.post_date|date) }}</p>
</section>
