/************************************ SITE HEADER *****************************************/

.admin-bar-showing {
  top: 48px;

  @include media-breakpoint-up(md) {
    top: 32px;
  }
}

/************************************ SITE HEADER ENDS ************************************/
