{#
 # Template for a bootstrap table
 #
 # @see https://getbootstrap.com/docs/4.0/content/tables/
 # @version 1.0.0
 #
 # @var contents  table contents.
 # @var classes   table classes according to bootstrap.
 #
 #}

<table class="table {{ classes }}">
  {% block thead %}
    {% if contents.thead %}
      <thead>
        <tr>
          {% for cell in contents.thead %}
            <th>{{ cell }}</th>
          {% endfor %}
        </tr>
      </thead>
    {% endif %}
  {% endblock %}
  {% block tbody %}
    <tbody>
      {% for row in contents.tbody %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  {% endblock %}
</table>
